.body {
    background-color: #ffddcc;
    color: #4d4d4d;
    margin-right: 200px;
    margin-left: 200px;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    text-align: center;
}

.subtitle  {
    text-align: center;
}

.para {
    text-align: justify;
}

.picture {
    text-align: center;
}

img {
    height: auto;
    width: 400px;
}